* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.About{
 width: 16rem;
 
}

.bg-nav{
    background-color: #e5f0ff;
}
.banner-color{
  background-color: #6b88ba;
}
.Affiliate-color1{
  background-color: #ff644e;
}

.Affiliate-color2{
  background-color: #f2f2f2;
}

.Affiliatedivfirst{
  width: 20rem;
  height: 20rem;
}

.Affiliatedivsecond{
  width: 10rem;
  height: 10rem;
}

.Affiliatedivthird{
  width: 15rem;
  height: 15rem;
}

.Affiliatedivfourth{
  width: 45rem;
  height: auto;
}

.frequently-asked-questions-color{
background-color: #e0e0e0;
}


.accordion-collapse {
    border: 0;
}
.accordion-button {
    padding: 0px;
    font-weight: bold;
    border: 0;
    font-size: 18px;
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    color: #dc3545;
}
.accordion-body {
    padding: 15px;
    background-color: #f6f6f6;
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 40px;
    background-image: none;
    font-weight: 100;
    color: #1b6ce5;
    transform: translateY(-4px);
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 48px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}


.contact-color{
  background-color: #fedfda;
}

.learn-more-become-affiliate-color{
  background-color: #ffeab9;
}

.industry{
 padding-left: 2.5%;
}

.footers{
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}

@media (min-width: 1400px){
.heading{
    font-size: 175%;
  }
  .category{
  padding-left: 3%;
  padding-top: 2.5%;
}
.cards-s {
  width: 20rem;
  height: 20rem;
}
.nav-item{
  padding-left: 15%;
}
}

/*contact_css_start*/
.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bod {
    background-image: url("/back.jpeg");
    background-size: cover;
}

hr {
    background: white;
}

.contact-form {
    background: rgba(0, 0, 0, .6);
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

.email-box,
.phone,
.fa-map-marker {
    font-size: 3.125rem;
    color: #00ff00;
}

.size {
    font-size: 1.563rem;
    color: #ff0000;
}
/*contact_css_end*/


@media (min-width: 1076px) and (max-width: 1399px){
.heading{
    font-size: 150%;
  }
  .subheading{
    font-size: 85%;
  }
   .category{
  padding-left: 1.5%;
  padding-top: 2.5%;
}
.cards-s {
  width: 20rem;
  height: 20rem;
}
.nav-item{
  padding-left: 7.5%;
}
}

@media (min-width: 876px) and (max-width: 1075px){
.heading{
    font-size: 100%;
  }
  .subheading{
    font-size: 65%;
  }
   .category{
  padding-left: 1.5%;
  padding-top: 2.5%;
}
.cards-s {
  width: 20rem;
  height: 20rem;
}
}

@media (min-width: 676px) and (max-width: 875px) {
.heading{
    font-size: 75%;
  }
   .category{
  padding-left: 1.5%;
  padding-top: 2.5%;
}
.subheading{
    font-size: 45%;
  }
  .cards-s {
  width: 20rem;
  height: 20rem;
}
}

@media (min-width: 576px) and (max-width: 675px) {
.heading{
    font-size: 50%;
  }
  .category{
  padding-left: 1.5%;
  padding-top: 2.5%;
}
.subheading{
    font-size: 35%;
  }

}

@media (max-width: 575px) {
.heading{
    font-size: 175%;
  }
  .category{
  padding-left: 3%;
  padding-top: 2.5%;
}

.industry{
 padding-left: 12.5%;
}

}

.img-wrapper-s{
  width: 10rem;
  height: 20rem;
}

.carousel-inner {
  padding: 1em;
}


.card{
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;

}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  } 
}

